<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:bb="http://www.bristleback.pl/schema/bristleback"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    	http://www.springframework.org/schema/context
     	http://www.springframework.org/schema/context/spring-context-2.5.xsd
      http://www.bristleback.pl/schema/bristleback
      http://www.bristleback.pl/schema/bristleback/bristleback.xsd">

  <context:component-scan base-package="com.prashant.MyProject"/>

  <!--BRISTLEBACK SERVER-->

  <bb:serverMessages/>

  <bean id="initPojoConfigResolver" class="pl.bristleback.server.bristle.conf.resolver.init.PojoConfigResolver">
    <property name="engineName" value="system.engine.jetty.servlet"/>
  </bean>

  <bb:servlet configurationResolver="initPojoConfigResolver"/>

</beans>